if VENDOR_SAMSUNG_ELECTRONICS_CO.__LTD

choice
	prompt "Mainboard model"

source "src/mainboard/samsung_electronics_co.__ltd/*/Kconfig.name"

endchoice

source "src/mainboard/samsung_electronics_co.__ltd/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "SAMSUNG ELECTRONICS CO., LTD."

endif # VENDOR_SAMSUNG_ELECTRONICS_CO.__LTD
